.comment-wrapper
    .comments#comments
        .comments-header
            h2.comment-reply-title Logic header
        .comments-inner



.post.mb-5
    .media
        img.mr-3.img-fluid.post-thumb.d-none.d-md-flex(src="./images/logo.png")
        .media-body
            h5.title.mb-1
            .meta.mb-1
                span.date
                span.comment
                    a(href="#")
            .intro
            a.more-link(href="#") Read More

