include ./includes/header.pug
main(data-barba="container" data-barba-namespace="home") 
    .container
        #pills-tabContent.tab-content
            #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab')
                include ./includes/home-content.pug
            #pills-work.tab-pane.fade(role='tabpanel' aria-labelledby='pills-work-tab') 
                include ./includes/work-content.pug
            #pills-contact.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab') 
                include ./includes/contact-content.pug        
include ./includes/footer.pug
