@import "scss/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Rock+Salt&display=swap');
*{
    box-sizing: border-box;
}
body, html, main{
    display: flex;
    flex-direction: column; 
    font-family: 'Jost', sans-serif;   
}

body, html{
    height: 100%;
    color: $text;
}

main{ 
    flex-grow: 1;
    background: url('./images/bg.png');
    background-attachment: fixed;
    justify-content: center;
    padding: 6em 0;
}
::selection{
    background: $primary;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    color: $heading;
}



// Links + Buttons
a, .nav-link{
    color: $primary;
    text-decoration: none;
    &:hover{
        color: $primary-dark;
    }
}

.nav-pills .nav-link.active{
    background: $primary;
}

.btn-primary{
    background: $primary;
    border-color: $primary;
    border-radius: 2px;
    &:hover{
        background: $primary-xtra-dark;
        border-color: $primary;
    }
}

.btn-outline-primary{
    border-color: $primary;
    color: $primary;
    border-radius: 2px;
    &:hover{
       background: $primary;
       color: white; 
       border-color: $primary;
    }
}

.card.work-item{
    margin-bottom: 1em;
   
}

#home-title, #home-byline{
    opacity: 0;
}

#instructions{
    transform: scale(0);
}

#byline-accent{
    font-family: 'Rock Salt', 'Times New Roman', serif;
   
}

.text-primary{
    color: $primary!important;
}

.display-4{
  
   ::after{
       content: 'per hour';
       font-size: .8rem;
       position: relative;
   } 
}

.work-icon-wrapper{
    background: $primary;
    color: white;
    
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.work-img-wrapper{
    height: 229px;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    @media (min-width: 768px){
        height: 329px;
    }
}

