@import "scss/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Rock+Salt&display=swap');
*{
    box-sizing: border-box;
}
body, html, main{
    display: flex;
    flex-direction: column; 
    font-family: 'Jost', sans-serif;   
}

body, html{
    height: 100%;
    color: $text;
}

main{ 
    flex-grow: 1;
    background: url('./images/bg.png');
    background-attachment: fixed;
    justify-content: center;
    padding: 6em 0;
}
::selection{
    background: $primary;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    color: $heading;
}



// Links
a, .nav-link{
    color: $primary;
    &:hover{
        color: $primary-dark;
    }
}

.nav-pills .nav-link.active{
    background: $primary;
}

.card.work-item{
    margin-bottom: 1em;
   
}

#home-title, #home-byline{
    opacity: 0;
}

#byline-accent{
    font-family: 'Rock Salt', 'Times New Roman', serif;
   
}

.text-primary{
    color: $primary!important;
}

