h1.text-center.mx-auto#home-title Innovative Software UI Designer 
h2#home-byline.text-center.mx-auto.mb-3 .....Who Can Also
    span.text-primary#byline-accent  Code
    |!
.row 
    .col-12.col-lg-6.mx-auto.text-center
        p.lead.text-center.mx-auto#home-message Hi! I'm E. Wright, a graduate of the Art Institute of Atlanta, with over 15 years of professional experience developing dynamic user interfaces for websites, software and mobile applications.
        a.btn.btn-outline-primary#view-work(href="./work.html") View Work 
        
         