.row.justify-content-center 
    .col-12.col-lg-7.text-center
        h1 Let's Bring Your Dream to Life! 
        p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur similique minus omnis pariatur. Minima, labore. Minima non aliquid repellendus expedita quasi eum, sint impedit saepe accusamus, quibusdam corporis, praesentium porro.
    .col-12.col-lg-6
        form(onsubmit="return false")
            .row.mb-3
                .col-12.col-lg-6
                    label.form-label(for='exampleInputFirstName1') First Name
                    input#exampleInputFirstName1.form-control(type='text' aria-describedby='FirstNamelHelp')
                .col-12.col-lg-6.mb-3
                    label.form-label(for='exampleInputLastName1') Last Name
                    input#exampleInputLastName1.form-control(type='text' aria-describedby='LastNamelHelp')
                .col-12.col-lg-6
                    label.form-label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
                .col-12.col-lg-6.mb-3
                    label.form-label(for='exampleInputBusinessName1') Business Name
                    input#exampleInputBusinessName1.form-control(type='text' aria-describedby='BusinessNamelHelp')
                .col-12.mb-3 
                    label.form-label(for='exampleFormControlInput1') Project Type
                    select.form-select(aria-label='Default select example')
                        option(selected='') Choose one
                        option(value='1') Single Page Website
                        option(value='2') Multi-Page Website
                        option(value='3') Small Business Website
                        option(value='4') Corporate Website
                .col-12.mb-3
                    
                        label.form-label(for='exampleFormControlTextarea1') Describe your project.
                        textarea#exampleFormControlTextarea1.form-control(rows='3')
            button.btn.btn-primary(type='submit') Submit