h1 Service Pricing 
.row.g-0
    .col-12.col-md-6.col-lg-3 
        .card.h-100
            .card-body.text-center
                h4 Single-Page Site
                .display-4.text-primary $50
                small.d-block.pb-4.mb-4 Per Hour. 5 hour minimum.
                ul.list-group.list-group-flush.mb-4 
                    li.list-group-item Single static page website 
                    li.list-group-item Responsive resizing for access on mobile and desktop devices
                    li.list-group-item 50% deposit required
                    li.list-group-item Domain name registration
                    li.list-group-item First month of web hosting FREE
                a.btn.btn-outline-primary(href="./inquiries.html") Get A Quote 
    .col-12.col-md-6.col-lg-3 
        .card.h-100
            .card-body.text-center
                h4 Multi-Page Site
                .display-4.text-primary $55
                small.d-block.pb-4.mb-4 Per Hour. 10 hour minimum.
                ul.list-group.list-group-flush.mb-4 
                    li.list-group-item Up to 5 static pages
                    li.list-group-item Responsive resizing for access on mobile and desktop devices
                    li.list-group-item 50% deposit required
                    li.list-group-item Domain name registration
                    li.list-group-item First month of web hosting FREE
                    li.list-group-item 2 email addresses
                    li.list-group-item 1 Contact Form
                a.btn.btn-outline-primary(href="./inquiries.html") Get A Quote 
    .col-12.col-md-6.col-lg-3 
        .card
            .card-body.text-center
                h4 Small Business Site
                .display-4.text-primary $65
                small.d-block.pb-4.mb-4 Per Hour. 20 hour minimum.
                ul.list-group.list-group-flush.mb-4 
                    li.list-group-item Unlimited static pages
                    li.list-group-item Responsive resizing for access on mobile and desktop devices
                    li.list-group-item 25% deposit required
                    li.list-group-item Domain name registration
                    li.list-group-item First month of web hosting FREE
                    li.list-group-item 5 email addresses
                    li.list-group-item 1 Contact Form
                    li.list-group-item Payment Plan Available
                a.btn.btn-outline-primary(href="./inquiries.html") Get A Quote 
    .col-12.col-md-6.col-lg-3 
        .card
            .card-body.text-center
                h4 Corporate Site
                .display-4.text-primary $75
                small.d-block.pb-4.mb-4 Per Hour. 40 hour minimum.
                ul.list-group.list-group-flush.mb-4 
                    li.list-group-item Unlimited dynamic pages
                    li.list-group-item Responsive resizing for access on mobile and desktop devices
                    li.list-group-item 25% deposit required
                    li.list-group-item Domain name registration
                    li.list-group-item First month of web hosting FREE
                    li.list-group-item 10 email addresses
                    li.list-group-item Unlimited Contact Forms
                    li.list-group-item Payment Plan Available
                a.btn.btn-outline-primary(href="./inquiries.html") Get A Quote 