.container
    .row 
        .col-12
            h2 My Recent Work
    .row 
        .col-12.col-lg-6
            .card.work-item
                .card-body.bg-white
                    .row
                        .col-2.col-sm-1
                            .work-icon-wrapper
                                span.fas.fa-pencil-ruler
                        .col-10.col-sm-10.ms-sm-3.ms-md-1.ms-lg-3.ms-xl-2.mx-xxl-0                   
                            a.h5.card-title(href="#")
                                | Admin Design System 
                            small.d-block.text-muted Website 
                        p.card-text
                            | This design system was created as a way to bridge the gap between design and development for our incentives software. 
                            a(href="#") See more
                .work-img-wrapper
                    a(href="#")
                        img.card-img-top(src='http://devdonewright.com/wp-content/uploads/2021/07/style-guide-1.jpg' alt='...')
                .card-body
                    .row 
                        .col-6.text-end.border-end 
                            span.fas.fa-heart.text-muted
                            span.ms-2 Like
                        .col-6 
                            span.fas.fa-comment.text-muted
                            span.ms-2 Comment
        .col-12.col-lg-6
            .card.work-item
                .card-body.bg-white
                    .row
                        .col-2.col-sm-1
                            .work-icon-wrapper
                                span.fas.fa-pencil-ruler
                        .col-10.col-sm-10.ms-sm-3.ms-md-1.ms-lg-3.ms-xl-2.mx-xxl-0                   
                            a.h5.card-title(href="#")
                                | Rewards Redemption Application
                            small.d-block.text-muted Application UI 
                        p.card-text
                            | This design system was created as a way to bridge the gap between design and development for our incentives software. 
                            a(href="#") See more
                .work-img-wrapper
                    a(href="#")
                        img.card-img-top(src='http://devdonewright.com/wp-content/uploads/2021/07/v5.jpg' alt='...')
                .card-body
                    .row 
                        .col-6.text-end.border-end 
                            span.fas.fa-heart.text-muted
                            span.ms-2 Like
                        .col-6 
                            span.fas.fa-comment.text-muted
                            span.ms-2 Comment
                       
                    
                        
        