.container
    .row 
        .col-12
            h2 My Recent Work
    .row 
        .col-12.col-lg-6
            .card.work-item
                a(href="#")
                    img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    .row.align-items-center 
                        .col-12.col-lg-8
                            a.h5.card-title(href="#")
                                | Portfolio Item Title 
                        .col-12.col-lg-4.text-end
                            small.d-block.text-muted Website
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-12.col-lg-6
            .card.work-item
                a(href="#")
                    img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    .row.align-items-center 
                        .col-12.col-lg-8
                            a.h5.card-title(href="#")
                                | Portfolio Item Title 
                        .col-12.col-lg-4.text-end
                            small.d-block.text-muted Website
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-12.col-lg-6
            .card.work-item
                a(href="#")
                    img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    .row.align-items-center 
                        .col-12.col-lg-8
                            a.h5.card-title(href="#")
                                | Portfolio Item Title 
                        .col-12.col-lg-4.text-end
                            small.d-block.text-muted Website
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-12.col-lg-6
            .card.work-item
                a(href="#")
                    img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    .row.align-items-center 
                        .col-12.col-lg-8
                            a.h5.card-title(href="#")
                                | Portfolio Item Title 
                        .col-12.col-lg-4.text-end
                            small.d-block.text-muted Website
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-12.col-lg-6
            .card.work-item
                a(href="#")
                    img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    .row.align-items-center 
                        .col-12.col-lg-8
                            a.h5.card-title(href="#")
                                | Portfolio Item Title 
                        .col-12.col-lg-4.text-end
                            small.d-block.text-muted Website
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-12.col-lg-6
            .card.work-item
                a(href="#")
                    img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    .row.align-items-center 
                        .col-12.col-lg-8
                            a.h5.card-title(href="#")
                                | Portfolio Item Title 
                        .col-12.col-lg-4.text-end
                            small.d-block.text-muted Website
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                 
        