.container 
    .row 
        .col-12.col-lg-6
            .card.work-item
                img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //- a.btn.btn-primary(href='#') Go somewhere
        .col-12.col-lg-6
            .card.work-item
                img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //- a.btn.btn-primary(href='#') Go somewhere
        .col-12.col-lg-6
            .card.work-item
                img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //- a.btn.btn-primary(href='#') Go somewhere
        .col-12.col-lg-6
            .card.work-item
                img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //- a.btn.btn-primary(href='#') Go somewhere
        .col-12.col-lg-6
            .card.work-item
                img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //- a.btn.btn-primary(href='#') Go somewhere
        .col-12.col-lg-6
            .card.work-item
                img.card-img-top(src='https://images.pexels.com/photos/4007744/pexels-photo-4007744.jpeg' alt='...')
                .card-body.bg-white
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    //- a.btn.btn-primary(href='#') Go somewhere